{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{ name }} 👉 {{message}} 🎊
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<!-- if the user is added succesfully, the name returned and add info-->
  {% if name %}
    <h1>User Added 👉 {{ name }} 🥰</h1>

 <br>
<!-- table for all the users -->
<table class="table table-striped table-dark table-hover table-bordered" >
    <thead>
    <tr>
        <td style="font-weight: bold">The current user id: 🔥</td>
        <td style="font-weight: bold">The current user name: 📛</td>
        <td style="font-weight: bold">The current user email: ✉️</td>
        <td style="font-weight: bold">The current user color: 💥</td>
    </tr>
    </thead>
    <tbody>
{% for our_user in our_users %}
<tr>
    <td>{{our_user.id}}.</td>
    <td>{{our_user.name}}</td>
    <td>{{our_user.email}} ✉️</td>
    <td style="text-align: center">{{our_user.favorite_color}} 💥</td>
</tr>


{% endfor %}
    </tbody>

    </table>

<!-- end of the table -->


<br>
  {% else %}
    <h1>User List: 🔥</h1>
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
<form action="" method="POST">
 {{ form.hidden_tag() }}

 {{ form.name.label(
    class="form-label") }}

 {{ form.name(
    class="form-control") }}
    <br>
 {{ form.email.label(
    class="form-label") }}

 {{ form.email(
    class="form-control") }}

 <br>
    {{ form.favorite_color.label(
    class="form-label") }}

    {{ form.favorite_color(
    class="form-control") }}
    <br>


        {{ form.password_hash.label(
    class="form-label") }}

    {{ form.password_hash(
    class="form-control") }}
    <br>

        {{ form.password_hash2.label(
    class="form-label") }}

    {{ form.password_hash2(
    class="form-control") }}
    <br>

 {{ form.submit(
    class="btn btn-secondary") }}
</form>
</div>

<br><br>
<table class="table table-striped table-dark table-hover table-bordered" >
    <thead>
    <tr>
        <td style="font-weight: bold">The current user id: 🔥</td>
        <td style="font-weight: bold">The current user name: 📛</td>
        <td style="font-weight: bold">The current user email: ✉️</td>
        <td style="font-weight: bold">Color: 💥️</td>
        <td style="font-weight: bold">PW: 🛂️</td>
        <td style="font-weight: bold">Just update: 🙃</td>
        <td style="font-weight: bold">Just delete: 🙃</td>
    </tr>
    </thead>
    <tbody>
{% for our_user in our_users %}
<tr>
    <td>{{our_user.id}}.</td>
    <td>{{our_user.name}}</td>
    <td>{{our_user.email}} ✉️</td>
    <td>{{our_user.favorite_color}}️</td>
    <td>PW: {{our_user.password_hash}}️</td>
    <td>
        <a href="{{ url_for('update', id=our_user.id) }}" style=" text-decoration: none;"><button class="btn btn-outline-secondary" style="display: block; margin: auto;">Update</button></a>
    </td>
        <td>
        <a href="{{ url_for('delete', id=our_user.id) }}" style=" text-decoration: none;"><button class="btn btn-outline-danger" style="display: block; margin: auto;">Delete</button></a>
    </td>
</tr>


{% endfor %}
    </tbody>

    </table>

  {% endif %}

 {% endblock %}