{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{ name }} 👉 {{message}} 🎊
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<!-- if the user is added succesfully, the name returned and add info-->
    <h1>Dashboard</h1>

 <br>

<table class="table table-dark table-striped table-hover">

     <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User Info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td> {{current_user.name}}</td>
    </tr>
    <tr>
      <th scope="row">Username</th>
      <td> {{current_user.username}}</td>
    </tr>
    <tr>
      <th scope="row">User ID</th>
      <td> {{current_user.id}}</td>
    </tr>

      <tr>
      <th scope="row">Favourite Color</th>
      <td> {{current_user.favorite_color}}</td>
    </tr>

      <tr>
      <th scope="row">Email</th>
      <td> {{current_user.name}}</td>
    </tr>

      <tr>
      <th scope="row">Date Joined</th>
      <td> {{current_user.data_added}}</td>
    </tr>
  </tbody>
</table>

<br><br>



<button type="button" class="btn btn-danger"><a style="text-decoration: none; color: white;" href="{{url_for('logout')}}">Log Out</a></button>
<button class="btn btn-secondary"><a style="text-decoration: none; color: white;"  href="{{ url_for('update', id=current_user.id) }}">Update Profile</a></button>
<button class="btn btn-danger"><a style="text-decoration: none; color: white;" href="{{ url_for('delete', id=current_user.id) }}" >Delete</a>
</button>

<br><br>

<div class="card">
  <div class="card-header">
    Update Profile
  </div>
  <div class="card-body">
    <form action="/update/{{ name_to_update.id }}" method="POST">
 {{ form.hidden_tag() }}

 {{ form.name.label(
    class="form-label") }}

 {{ form.name(
    class="form-control", value=name_to_update.username) }}
    <br>

     {{ form.username.label(
    class="form-label") }}

 {{ form.username(
    class="form-control", value=name_to_update.username) }}
    <br>

 {{ form.email.label(
    class="form-label") }}

 {{ form.email(
    class="form-control", value=name_to_update.email) }}

 <br>

     {{ form.favorite_color.label(
    class="form-label") }}

 {{ form.favorite_color(
    class="form-control", value=name_to_update.favorite_color) }}
    <br>
 {{ form.submit(
    class="btn btn-secondary") }}

    <a href="{{ url_for('delete', id=id) }}" class="btn btn-danger" style="margin-left: 20px">Delete</a>
</form>
  </div>
</div>

 {% endblock %}


<!-- dashboard done -->