{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{ name }} 👉 {{message}} 🎊
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<!-- if the user is added succesfully, the name returned and add info-->
    <h1>Dashboard</h1>

 <br>
<h1>You are in!</h1>
<!-- table for all the users -->

<div class="shadow p-3 mb-5 bg-body rounded">

</div>

<br><br>



 {% endblock %}