{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{ name }} 👉 {{message}} 🎊
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

  {% if name %}
    <h1>Hello {{ name }} 🥰</h1>

<br>


  {% else %}
    <h1>What is your name? 🔥</h1>
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
<form action="" method="POST">
 {{ form.hidden_tag() }}
 {{ form.name.label(
    class="form-label") }}
 {{ form.name(
    class="form-control") }}
 <br>
 {{ form.submit(
    class="btn btn-secondary") }}
</form>
</div>

  {% endif %}

 {% endblock %}