{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{ name }} 👉 {{message}} 🎊
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h1>Blog Posts...</h1>
<br>

<div class="shadow p-3 mb-5 bg-body rounded">

    <h2>{{ post.title }}</h2>
    By: {{ post.poster.name  }} <br>
    <small>{{ post.slug }} <br>
    {{ post.date_posted }} </small><br><br>
  {{ post.content}}<br><br>
    <a href="{{ url_for('posts') }}" class="btn btn-dark">Back To Blog 👈</a>
    <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-danger">Delete a Post</a>
    <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-dark">Edit a Post 🔥</a>

</div>
<br>

<!--this is ti-->

{% endblock %}