{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{ name }} 👉 {{message}} 🎊
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h1>Blog Posts...</h1>
<br>

{% for post in posts%}
<div class="shadow p-3 mb-5 bg-body rounded">

    <h2>{{ post.title }}</h2>
    By: {{ post.author }} <br>
    <small>{{ post.slug }} <br>
    {{ post.date_posted }} </small><br><br>
  {{ post.content}}<br><br>
    <a class="btn btn-dark" href="{{ url_for('post', id=post.id )}}">View Post 👉</a>
    <a class="btn btn-dark" href="{{ url_for('edit_post', id=post.id )}}">Edit Post 🚀</a>

</div>
<br>
{% endfor %}
<!--this is ti-->
<!--works-->

{% endblock %}