{% extends 'base.html' %}
{% block content %}

  {% if email %}
    <h1>Email - {{ email }} 🥰</h1>
    <h1>Password - {{ password }} 🥰</h1>

<br>


  {% else %}
    <h1>What is your email and Password? 🔥</h1>
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
<form action="" method="POST">
 {{ form.hidden_tag() }}
 {{ form.email.label(
    class="form-label") }}
 {{ form.email(
    class="form-control") }}
 <br>

    {{ form.password.label(
    class="form-label") }}
 {{ form.password(
    class="form-control") }}

 <br>

 {{ form.submit(
    class="btn btn-secondary") }}
</form>
</div>

  {% endif %}

 {% endblock %}