{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> The user 🙎‍♂️ was {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<!-- if the user is added successfully, the name returned and add info-->
  {% if name %}
    <h1>User Updated 👉 🥰</h1>

<br>
  {% else %}
{% if id == current_user.id %}
    <h1>User Update: 🔥</h1>

<br>
<div class="shadow p-3 mb-5 bg-body rounded">
<form action="/update/{{ name_to_update.id }}" method="POST">
 {{ form.hidden_tag() }}

 {{ form.name.label(
    class="form-label") }}

 {{ form.name(
    class="form-control", value=name_to_update.username) }}
    <br>

     {{ form.username.label(
    class="form-label") }}

 {{ form.username(
    class="form-control", value=name_to_update.username) }}
    <br>

 {{ form.email.label(
    class="form-label") }}

 {{ form.email(
    class="form-control", value=name_to_update.email) }}

 <br>

     {{ form.favorite_color.label(
    class="form-label") }}

 {{ form.favorite_color(
    class="form-control", value=name_to_update.favorite_color) }}
    <br>
 {{ form.submit(
    class="btn btn-secondary") }}

    <a href="{{ url_for('delete', id=id) }}" class="btn btn-danger" style="margin-left: 20px">Delete</a>
</form>
</div>

<br><br>

{% else %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Sorry you cannot edit this user
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<h2>Access Denied</h2>
{% endif %}
  {% endif %}

 {% endblock %}